{% extends 'base.html.twig' %}

{% block title %}It is swnowtime By Id!
{% endblock %}


{% block body %}
	<section class="container my-3">

		<h1>L'identifiant est
			{{snowflakeById.id}}</h1>


		<div class="card my-2 p-2  ">
			<h2 class="title">{{snowflakeById.name}}
				/ Porte bonheur
				{{snowflakeById.luckyNumber}}</h2>
			<div class="card-body">
				<p class="card-content">Le
					{{snowflakeById.createdAt|date('d/M/Y') }}</p>

				<p class="card-content">{{snowflakeById.description}}</p>
			</div>
			<div>
				<a href="/snowflake" class="btn btn-danger">Retour à la page principale</a>
			</div>
		</div>

	</section>

{% endblock %}
