{% extends 'base.html.twig' %}

{% block title %}It is swnowtime!
{% endblock %}


{% block body %}
	<section class="container my-3">

		<h1 class="text-center mb-3">Mes entités en Symfony</h1>
		<section class="d-flex justify-around wrap-wrap	">
			{% for snowflake in snowflakes %}

				<a href="{{ path('app_snowflake_show', {id:snowflake.id}) }}">
					<div class="card card-snow mx-5 p-2" style="width = 12rem;">
						<h2 class="title text-center">{{snowflake.name}}</h2>
						<div class="card-body ">
							<div class="card-content">

								<p>Numéro porte bonheur :
									{{snowflake.luckyNumber}}
								</p>

								<div>
									<a href="{{path('app_snowflake_edit', {id:snowflake.id} )}}" class="btn btn-dark my-2">Modifier</a>

									<form action="{{path('app_snowflake_delete', {id:snowflake.id} )}}" method="POST">
										<input type="hidden" name="_method" value="DELETE">
										<input type="hidden" name="csrf_token" value="{{ csrf_token('snow_deletion_' ~ snowflake.id) }}">
										<input type="submit" name="" value="Delete this snowflake" class="btn btn-danger my-2">
									</form>
								</div>

							</div>
						</div>
					</div>
				</a>

			{% endfor %}
		</section>
	</section>

{% endblock %}
