{% extends 'base.html.twig' %}

{% block title %}It is swnowtime!
{% endblock %}


{% block body %}
	<section class="container my-3">

		<h1 class="text-center">Jingle Bells!</h1>
		<section class="d-flex justify-around mx-auto">
			{% for snowflake in snowflakes %}

				<a href="{{ path('app_snowflake_show', {id:snowflake.id}) }}">
					<div class="card card-snow m-2 p-2 w-50">
						<h2 class="title">{{snowflake.name}}
							:</h2>
						<h3>Porte bonheur :
							<u>{{snowflake.luckyNumber}}</u>
						</h3>
						<div class="card-body ">
							<div class="card-content">
								<p class="card-content">Le
									{{snowflake.createdAt|date('d/M/Y') }}</p>
								<p class="card-content">{{snowflake.description}}</p>

								<div>
									<a href="/snowflake/{{snowflake.id}}" class="btn btn-dark">Sélectionner</a>
								</div>
							</div>
						</div>
					</div>
				</a>

			{% endfor %}
		</section>
	</section>

{% endblock %}
